*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  background-color: white;  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  box-shadow: inset 0 -3em 3em #F5E9E4, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: #F5E9E4;
  color: #06093C;
}

#header-text{
  margin-left: 30px;
}

#top-nav{
  margin-left: auto;
}

#top-nav li{
  display: inline-flex;
  padding: 0 30px;
  list-style: none;
}

#top-nav a{
  text-decoration: none;
  color: #06093C;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 20px;
}

/**intro**/
#intro-container{
  background-color: #06093C;
  line-height: 1.6;
  text-align: center;
  min-height: 75vh;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#5FFBF1;
  font-weight: bold;
  font-size: 1.2em;
}

#intro h2{
  font-size: 1.5em;
  position: relative;
  animation-name: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-bottom: 10px;
  color: #5FFBF1;
  font-weight: bolder;
}

#intro p{
  max-width: 60%;
  margin: 0 auto;
}

#intro p{
  position: relative;
  animation-name: intro;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top: 10px;
}

#intro a{
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  background-color: #F5E9E4;
  color: black;  
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 30px 0;
  transition: 0.3s;
}

#intro a:hover {
  background-color: black;
  color: white;
}

/**Project section**/
.project-header{
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
  padding: 20px;
  color: #06093C;
}

.projects-wrapper{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 15px;
}

.project-container{
  border: solid #FEE018 1px;
}

.project-container img{
  width: 100%;
  height: auto;
  max-height: 60vh;
}

.project-image-container img{
  padding: 30px;
}

.project-image-container img:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.project-content{
  text-align: center;
  margin: 10px 0;
}

/**footer**/
#contact{
  background-color: #06093C;
  color: #5FFBF1;
  padding: 30px 0;
  margin-top: 30px;
}
footer .social-links{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links li a{
  padding: 0 10px;
  font-size: 40px;
  color: white;
}

.social-links li a:hover{
  color: #FEE018;
}

.copyright{
  text-align: center;
}



/**media query**/
@media only screen and (max-width: 900px) {
  .projects-wrapper{
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }

  #intro-container{    
    min-height: 50vh;
  }

  #intro-container{
    font-size: 1em;
  }

  #intro h2{
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  header {
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  #top-nav li{
    padding: 30px 10px;
  }

  #top-nav a{
    letter-spacing: 2px;
  }

}
